.container {
          width: 25%;
          margin: 0 auto;
          text-align: center;
          padding-bottom: 3em;
          padding-top: 3em;
          height: 80vh;
}

.main {
          border-top: 1px solid gray;
}

.h1 {
          color: #234465;
}

.div {
          display: flex;
          justify-content: center;
          padding: 1em;
}

.button {
          width: 95%;
          height: 6vh;
          border: none;
          background-color: #234465;
          color: #eee;
          font-size: 20px;
          border-radius: 1em;
          font-weight: 700;
          -webkit-box-shadow: 0px 4px 15px -5px #234465;
          box-shadow: 0px 4px 15px -5px #234465;
}

.button:hover {
          background-color: #016ea5;
          cursor: pointer;
}
