.login-container {
          padding: 1em;
          width: 100%;
}

.login-label {
          text-align: left;
          font-size: 20px;
          color: #2f4858;
}

.login-input {
          width: 100%;
          border: none;
          border-bottom: 0.00000001em solid black;
          height: 35px;
}

.login-inner-container {
          text-align: left;
}

.error {
          height: 3vh;
          color: red;
          padding: 0.1em 0 0 0.5em;
          text-align: left;
          font-size: 14px;
}

.contacts-container {
          padding-bottom: 1em;
}

.contacts-label {
          text-align: left;
          font-size: 20px;
          color: #2f4858;
}

.contacts-inner-container {
          width: 100%;
}

.contacts-input {
          width: 100%;
          background-color: rgb(241, 241, 241);
          border: none;
          height: 40px;
}
