.container {
          width: 25%;
          margin: 0 auto;
          text-align: center;
          padding-bottom: 3em;
          height: 80vh;
          /* display: flex;
          justify-content: space-between;
          align-items: center; */
}

.h1 {
          color: #004466;
}

.div {
          display: flex;
          justify-content: center;
          padding: 1em;
}

.button {
          width: 95%;
          height: 6vh;
          border: none;
          background-color: #004466;
          color: #eee;
          font-size: 20px;
          border-radius: 1em;
}

.button:hover {
          background-color: #016ea5;
}
