.container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: auto;
          max-width: 70em;
          margin: 0 auto;
          padding: 3em;
}

.container h2 {
          color: #234465;
          padding-bottom: 20em;
          font-size: 30px;
}

.main {
          border: 2px solid #234465;
}

.main ul {
          padding: 1em;
          list-style-type: none;
}
