.container {
          width: 31%;
          display: inline-block;
          margin: 1.2% 1%;
          vertical-align: middle;
          overflow: hidden;
}

.container:hover {
          cursor: pointer;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container div {
          padding-top: 0.5em;
}

.image {
          display: block;
          width: 100%;
          height: auto;
          background-color: white;
}

.name {
          font-size: 12px;
          margin-bottom: 0.2em;
}

.price {
          font-size: 12px;
}
