.container {
          height: 80vh;
          max-width: 90em;
          margin: 0 auto;
}

.profile {
          width: 120px;
}

.h1 {
          padding-top: 1em;
          padding-bottom: 1em;
          text-align: center;
}

.div {
          text-align: center;
          padding-bottom: 3em;
          width: 82%;
          margin: 0 auto;
          max-width: 100%;
          height: auto;
          display: inline-block;
}

.div2 {
          padding-top: 3em;
          width: 30%;
          margin: 0 auto;
}

.ul {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
}
