.container {
          max-width: 90em;
          margin: 0 auto;
}

.inner-container {
          padding-top: 1em;
}

.section {
          width: 100%;
          margin: 0 auto;
          padding-top: 3em;
}

.sectionImage {
          width: 100%;
          cursor: pointer;
}

.section1 {
          width: 49%;
          display: inline-block;
}

.section2 {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding: 1.5em 0 2em 1em;
}

.section3 {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding: 1.5em 0 2em 0;
}

.section div p {
          padding: 2em 0 2em 0;
}

.button {
          height: 6vh;
          font-size: 20px;
          width: 20%;
          cursor: pointer;
}

.mainImg {
          width: 100%;
          margin: 0 auto;
          max-width: 100%;
          height: auto;
}

.delivery {
          display: block;
          padding-top: 3em;
          width: 1000px;
          margin: 0 auto;
          max-width: 100%;
          height: auto;
}

.p {
          text-align: center;
          font-size: 25px;
          padding-top: 3em;
          padding-bottom: 0.5em;
}

.h1 {
          /* text-align: center; */
          font-size: 40px;
          padding-bottom: 0.5em;
}
