.container {
          padding-top: 1em;
          transition: 2s ease;
}

.inner-container {
          text-align: center;
          padding-top: 0.5em;
}

.mainImg {
          cursor: pointer;
          width: 100%;
          margin: 0 auto;
          max-width: 100%;
          height: auto;
}
