.nav {
          text-align: left;
          /* padding-top: 0.5em; */
}

.div {
          padding-left: 2.5em;
}

.search {
          border: 1px solid grey;
          border-radius: 5px;
          height: 25px;
          width: 25%;
          padding: 2px 23px 2px 30px;
          outline: 0;
          background-color: #f5f5f5;
}

.search:hover,
.search:focus {
          border: 1.5px solid #009688;
          background-color: white;
}

.logo {
          width: 150px;
          height: auto;
}
