.nav {
          max-width: 90em;
          margin: 0 auto;
}

.container {
          padding: 1em 0 1em 0;
          display: flex;
          justify-content: space-between;
}

.div {
          position: static;
          width: auto;
          height: auto;
          margin-bottom: -1px;
          padding-top: 0;
          transform: none;
          text-align: center;
          background: transparent;
          transition: none;
}
