.footer {
          background-color: #234465;
          color: #eee;
          border-top: 1px solid black;
          text-align: center;
}

.copyRight {
          text-align: center;
          margin: 0;
          padding: 1em;
}

.a {
          margin-right: 1em;
          color: #eee;
          text-decoration: none;
}
