* {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}

.container {
          position: relative;
          height: 85vh;
}

.container .notFound {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notFound {
          max-width: 410px;
          width: 100%;
          text-align: center;
}

.notFound .notFound-404 {
          height: 320px;
          position: relative;
          z-index: -1;
}

.h1 {
          font-family: 'Montserrat', sans-serif;
          font-size: 230px;
          margin: 0px;
          font-weight: 900;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          background: #234465;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: cover;
          background-position: center;
}

.h2 {
          font-family: 'Montserrat', sans-serif;
          color: #000;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          margin-top: 0;
}

.p {
          font-family: 'Montserrat', sans-serif;
          color: #000;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 20px;
          margin-top: 0px;
}

@media only screen and (max-width: 767px) {
          .notFound .notFound-404 {
                    height: 142px;
          }
          .notFound .notFound-404 h1 {
                    font-size: 112px;
          }
}
